<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>784913006656-p2l30ot3quk5fuppe44npi907thl79ou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784913006656-p2l30ot3quk5fuppe44npi907thl79ou</string>
	<key>API_KEY</key>
	<string>AIzaSyCcIpKdsuL4HTII6dxHii6Vx6IoSV-i7kY</string>
	<key>GCM_SENDER_ID</key>
	<string>784913006656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.TravelApp</string>
	<key>PROJECT_ID</key>
	<string>travelapp-5d5f5</string>
	<key>STORAGE_BUCKET</key>
	<string>travelapp-5d5f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:784913006656:ios:44cfb5d546737c4c</string>
	<key>DATABASE_URL</key>
	<string>https://travelapp-5d5f5.firebaseio.com</string>
</dict>
</plist>